<section>
    <form action="/admin/add-product" method="post" role="form" enctype="multipart/form-data">
        <legend>Enter Product Information Here</legend>

        <div class="form-group">
            <label for="first_name">Name</label>
            <input type="text" class="form-control" name="Name" id="first_name" placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="Catogary">Catogary</label>
            <input type="text" class="form-control" name="Catogary" id="Catogary" placeholder="Catogary">
        </div>

        <div class="form-group">
            <label for="Discription">Discription</label>
            <input type="text" class="form-control" name="Discription" id="Discription" placeholder="Discription">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" name="image" type="file" id="formFile">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>